@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Kanit:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Kanit:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@300&display=swap');

@media only screen and (max-width: 800px) {
.container-wallet {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.walletHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
    color: white;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.headerTitle #walletHeaderTitle {
    font-size: 40px;
}

.headerTitle #walletHeaderImg {
    width: 30px;
}

.headerWelcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headerWelcome #walletWelcome {
    text-align: center;
    font-size: medium;
}

.headerBalance {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headerBalance #walletBalance {
    text-align: center;
    font-size: large; 
    border: 5px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 30px 0;
    width: 50%;
}

.walletSetExpense {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.walletForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 25px;
    border-bottom: 2.5px solid rgb(156, 154, 154);
}

.labelForm {
    font-size: 15px;
    text-align: start;
    margin: 15px;
    border-radius: 5px;
}


#btnSet {
    margin: 15px;
    padding: 0 15px;
    border: 1px solid;
    border-radius: 5px;
}

#btnSet:hover {
    font-weight: bold;
    background: linear-gradient(to right, rgb(75,76,182), rgb(87,182,103));
  }

#value {
    width: 40%;
    border-radius: 5px;
    margin: 10px;
}

#description {
    width: 50%;
    border-radius: 5px;
    margin: 10px;
}

#currency {
    border-radius: 5px;
    margin: 10px;
}

#method {
    width: 40%;
    border-radius: 5px;
    margin: 10px;
}

#tag {
    width: 50%;
    border-radius: 5px;
    margin: 10px;
}

.tableWallet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 5px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    color: #28570c;
}

.walletList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.expenseList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.itemList {
    align-items: start;
    margin: 0px;
    font-size: 13px;
}

}