* {
  background-color: rgb(4, 4, 61);
  color: rgb(223, 95, 37);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#color-palette {
  height: 50px;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: black solid 1px;
}


.black {
  background-color: black;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}

#pixel-board { 
  width: 210px;
  height: 210px;   
}

.pixel {
  float: left;
  width: 40px;
  height: 40px;
  border: 1px black solid;
}

.white {
  background-color: white;
}