@media screen and (max-width: 800px) {

  .homeContainer {
    position: static;
    width: 100vw;
    height: 150vh;
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }
  
  .homeCenter {
    width: 100%;
    height: 100%;
    background: black;
    border-top: 10px solid;
    border-left: 10px solid;
    border-image: linear-gradient(to right, rgb(75,76,182), rgb(87,182,103)) 1;
    transition: border-image 1s;
    animation: slowHomeCenter 5s both;
  }
  
  .homeCenter:hover {
    border-image: linear-gradient(to right, rgb(87,182,103), rgb(75,76,182)) 1;
  }
  
  @keyframes slowHomeCenter {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .homeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-justify: center;
    color: silver;
    padding: 20px;
  }
  
  
   .homeIcon {
     width: 60px;
     height: 60px;
     animation: worldSpinner 50.5s linear infinite;
    }
    
    @keyframes worldSpinner { 
      from {
        transform:  rotateZ(0);
    } 
    to {
      transform:  rotateZ(360deg);
  }
    }
  
  
  
  /* .headerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  } */
  
  
  .homeContainerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  .homeContainerLinks #gitHubIcon {
    width: 35px;
  }
  
  .homeContainerLinks #linkedinIcon {
    width: 35px;
  }
  
  .homeContainerLinks #instagramIcon {
    width: 35px;
  }
  
  .homeContainer #facebookIcon {
    width: 35px;
  }
  
  /* .homeBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  .welcomeContainer {
    width: 100%;
    margin-top: 5%;
    margin-left: 10%;
  }
  
  .containerAboutMe {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;  
  }
  
  .divAboutMe {
    display: flex;
    height: auto;
    margin-left: 10%;
    flex-direction: column;
    align-items: flex-start;
    border-left: 5px solid;
    border-image: linear-gradient(to top, rgb(75,76,182), rgb(87,182,103)) 1;
    transition: border-image 1s;
  }
  
  .divAboutMe:hover {
    border-image: linear-gradient(to top, rgb(87,182,103), rgb(75,76,182)) 1;
  }
  
  
  #homeWelcome {
    margin-left: 30px;
    color: #d1d1d1;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  #textAboutMe {
    margin-left: 30px;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    line-height: 1.6;
    color: #d1d1d1;
  }
  
  .projectsContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-top: 8%;
    padding: 50px;
    border-right: 4px solid;
    border-bottom: 4px solid;
    border-image: linear-gradient(to top, #d662c6, rgb(233, 217, 71)) 1;
    transition: border-image 1s;
  }
  
  .projectsContainer:hover {
    border-image: linear-gradient(to top, rgb(233, 217, 71), #d662c6) 1;
  }
  
  
  #titleOfProjects {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #d1d1d1;
    transition: border-image 1s;
  }
  
  #titleOfProjects:hover {
    color: rgb(87,182,103);
  }
  
  .projectsItem {
    line-height: 2.6;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    color: #d1d1d1;
    border-bottom: 2px solid;
    border-image: linear-gradient(to left, #d662c6, rgb(233, 217, 71)) 1;
    transition: border-image 1s;
  }
  
  .projectsItem:hover {
    font-weight: bold; 
    color: white;
    border-bottom: 4px solid;
    border-image: linear-gradient(to left, rgb(233, 217, 71), #d662c6) 1;
  }

  /*-------------- Home CLOSE --------------*/

  /*-------------- Projects OPEN --------------*/
  .listProject {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .projectCard {
    background-color: white;
    flex-direction: column;
    border: 10px solid #70707065;
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
  }

  .projectImg {
    border: 2px solid #70707065;
    border-radius: 5px;
    width: auto;
    height: auto;
  }

  .spanProjects {
    margin: 10px;
    background-color: white;
  }

  .nameProject {
    font-size: x-large;
    font-weight: normal;
    color: #575656;
    margin-bottom: 10px;
    text-decoration: underline;
    font-family: 'Kanit', sans-serif;
  }

  .explainProject {
    width: 14em;
    font-size: 15px;
    word-wrap: break-word;
    font-family: 'Kanit', sans-serif;
  }

  /*-------------- Projects CLOSE --------------*/
}