/* -------------- Project Pixels Art OPEN--------------  */

.PixelArtBlock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 500px;
    background: orange;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .containerPixelsArt {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #title {
    margin-top: 10%;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    color: white;
  }
  
  #color-palette {
    justify-content: center;
  }
  
  #contentSection {
    text-align: center;
  }
  
  .btnClear {
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: rgb(144, 140, 140);
    border: white solid 4px;
    color: white;
    padding: 10px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
  }
  
  .btnClear:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
  
  #choseTitle {
    font-family:'Courier New', Courier, monospace;
    color: white;
    margin-bottom: 30px;
  }
  
  #pixel-board { 
    justify-content: center;
    margin: auto 30%;
    width: 215px;
    height: 210px;   
  }
  
  .color {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: rgb(197, 1, 223) solid 7px;
    border-radius: 50px;
  }
  
  .pixel {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px black solid;
  }
  
  .black {
    cursor: pointer;
    background-color: black;
  }
  .black:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
  
  .green {
    cursor: pointer;
    background-color: green;
  }
  .green:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
  
  
  .blue {
    cursor: pointer;
    background-color: blue;
  }
  .blue:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
  
  
  .yellow {
    cursor: pointer;
    background-color: yellow;
  }
  .yellow:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
  
  .white {
    cursor: pointer;
    background-color: white;
  }
  .white:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
  /* -------------- Project Pixels Art CLOSE--------------  */